{% extends 'umc_app/base.html' %}

{% block content %}
    <p><a href="{% url 'upload' %}">ファイルアップロードへ</a></p>
    <p><a href="{% url 'job_list' %}">Job一覧へ</a></p>
    <h1>ファイルの一覧</h1>
    <table border="1">
        <tr>
            <th>Task ID</th>
            <th>Task Label</th>
            <th>Ready Status</th>
        </tr>
        {% for obj in object_list %}
        <tr>
            <th>{{ obj.uuid }}</th>
            <th>{{ obj.label }}</th>
            <th>{{ obj.convert_status }}</th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}