{% extends 'base_dashboard.html' %}

{% block content %}
<div class="container">
    <div class="login-footer">
      <p>Project Detail</p>
    </div> 

    <div>
        <p>Uploaded Dataset Info</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Uploaded Datasets : {{ dataset_num }}
                {% if dataset_warning_msg %}
                <p>{{ dataset_warning_msg }}</p>
                {% endif %}
            </li>
        </ul>
        <form method="GET" action="{% url 'dataset_list' %}" name="dataset_list">
            {% csrf_token %}
            <input name="project_id" value="{{ project_id }}" type="hidden">
            <button type="submit" class="btn btn-outline-primary">Go to Dataset Upload Page</button>
        </form>
    </div>
    <div>
        <p>Uploaded Task Info</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Uploaded Tasks : {{ task_num }}
                {% if task_warning_msg %}
                <p>{{ task_warning_msg }}</p>
                {% endif %}
            </li>
        </ul>
        <form method="GET" action="{% url 'task_list' %}" name="task_list">
            {% csrf_token %}
            <input name="project_id" value="{{ project_id }}" type="hidden">
            <button type="submit" class="btn btn-outline-primary">Go to Task Upload Page</button>
        </form>
    </div>

</div>
{% endblock %}