{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="login-header">
    <p>Sign Up</p>
    <a href="{% url 'top' %}">Back to Top page</a>
  </div>
  <div class="login-container">
    <div id="output"></div>
    <div class="form-box">
      <form method="POST" action="" class="signup-form">
        {% csrf_token %}
        <div class="signup-form-label">
          <label for="email">Login ID(email)</label>
        </div>
        <div>
          <input type="text" id="email" name="email" required="required" />
        </div>
        <div class="signup-form-label">
          <label for="password">Password</label></div>
        <div>
          <input type="password" id="password" name="password" required="required" />
        </div>
        <div class="signup-form-label">
          <label for="display_name">Display name</label></div>
        <div>
          <input type="text" id="display_name" name="display_name" required="required" />
        </div>

        <div class="gen-textalign_center">
          <button type="submit">
            <span>Sign Up</span>
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>
  
  {% if form.errors %}
  <p>{{ form.errors }}</p>
  {% endif %}
  
  {% endblock %}