{% extends 'base.html' %}

{% block content %}
<form action="{% url 'task_step1' %}" method="POST" name="task_step1">
    <div clss=" d-flex align-items-center">
        <button class="btn btn-primary btn-block">Step1</button>
    </div>
</form>
<br><br>
<form action="{% url 'task_step2' %}" method="POST" name="task_step2">
    <div clss=" d-flex align-items-center">
        <button class="btn btn-primary btn-block">Step2</button>
    </div>
</form>
<br>
<table class="table table-hover table-responsive">
    <thead class="thead-light">
    <tr>
      <th></th>
      <th>task</th>
      <th></th>
    </tr>
    </thead>
    {% for obj in task_state %}
    <tr>
      <th>{{ obj }}</th>
    </tr>
    {% endfor %}
</table>

{% endblock %}
