{% extends 'base_dashboard.html' %}

{% block content %}
<div class="container">
    <div class="login-footer">
        <p>Task List</p>
    </div>
    <p>Task List</p>
    <table class="table table-hover table-responsive">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>Task ID</th>
                <th>Task Label</th>
                <th>Uploaded File Name</th>
                <th>Mime Type</th>
                <th>Convert Status</th>
                <th></th>
            </tr>
        </thead>
        {% for obj in object_list %}
        <tr>
            <th>
                <form method="GET" action="{% url 'converted_task_list' %}" name="task_select_{{ forloop.counter }}">
                    {% csrf_token %}
                    <input name="project_id" value="{{project_id}}" type="hidden">
                    <input name="task_id" value="{{ obj.uuid }}" type="hidden">
                    <input type="radio" value="" onclick="document.task_select_{{ forloop.counter }}.submit();">
                </form>
            </th>
            <th>{{ obj.uuid }}</th>
            <th>{{ obj.label }}</th>
            <th>{{ obj.file_name }}</th>
            <th>{{ obj.mime_type }}</th>
            <th>{{ obj.convert_status }}</th>
            <th>
                <form method="POST" action="{% url 'task_delete' %}">
                    {% csrf_token %}
                    <input name="project_id" value="{{project_id}}" type="hidden">
                    <input name="task_id" value="{{ obj.uuid }}" type="hidden">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </th>      
        </tr>
        {% endfor %}
    </table>
    <form method="POST" action="{% url 'task_upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="attach">
        <div>
            <label for="id_label">Label</label>
            <input type="text" name="label" maxlength=255 required id="id_label">
        </div>
        <input name="project_id" value="{{project_id}}" type="hidden">
        <button type="submit" class="btn btn-outline-primary">Upload</button>
    </form>
</div>
{% endblock %}